{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {{ name if name else 'Stranger' }}!</h1>
    <p>Prazer em conhecê-lo!</p>
</div>

{{ wtf.quick_form(form) }}

<hr>

<!-- Primeira Tabela: Relação de usuários -->
<h2>Relação de usuários cadastrados</h2>
<p>Quantidade: {{ users|length }}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.role.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<!-- Segunda Tabela: Relação de funções e usuários agrupados -->
<h2>Relação de funções cadastradas</h2>
<p>Quantidade: {{ roles|length }}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Funções</th>
            <th>Usuários</th>
        </tr>
    </thead>
    <tbody>
        {% for r in roles %}
        <tr>
            <td>{{ r.name }}</td>
            <td>
                <!-- Iterando sobre os usuários conectados a esta função (relacionamento do db) -->
                <ol>
                    {% for u in r.users %}
                    <li>{{ u.username }}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}